@charset "UTF-8";
.storiesWrapper {
  position: relative;
  width: min-content;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 !important;
  display: flex;
}
.storiesWrapper.storiesWrapperCabecalho {
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
  margin: 0 auto 16px;
}
.storiesWrapper * {
  box-sizing: border-box;
}
.storiesWrapper .storiesContainer {
  display: flex;
  justify-content: start;
  padding: 16px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.storiesWrapper .storiesContainer::-webkit-scrollbar {
  display: none;
}
.storiesWrapper .storiesItem a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 4px;
  width: 74px;
  padding: 5px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.storiesWrapper .storiesItem a:hover,
.storiesWrapper .storiesItem a:focus {
  text-decoration: none;
}
.storiesWrapper .storiesItem a:before {
  content: '';
  border: 2px solid;
  width: 74px;
  height: 74px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 50%;
}
.storiesWrapper .storiesItem a img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}
.storiesWrapper .storiesItem a .badge {
  position: absolute;
  top: 0;
  right: 0;
  background: #de0909;
  height: 20px;
  min-width: 20px;
  text-align: center;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  border-radius: 10px;
  padding: 0 0.25rem;
  text-shadow: 0;
  font-weight: normal;
}
.storiesWrapper .storiesItem a .tag {
  position: absolute;
  top: 50px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem 0.35rem;
  border-radius: 0.25rem;
  background: #e86918;
  font-size: 10px;
  color: #fff;
  text-align: center;
}
.storiesWrapper .storiesItem:last-child a {
  margin-right: 16px;
}

@media (max-width: 766.99px) {
  .storiesWrapper {
    max-width: 100vw;
  }
  .storiesWrapper a {
    font-size: 10px;
  }
}
@media (min-width: 767px) {
  .storiesWrapper {
    padding: 0 20px !important;
  }
  .storiesWrapper .storiesContainer {
    max-width: 100%;
    width: min-content;
    margin: 0 auto;
    padding: 32px 0;
  }
  .storiesWrapper .storiesContainer .storiesItem a {
    width: 94px;
    margin: 0 8px;
  }
  .storiesWrapper .storiesContainer .storiesItem a.zoomOnHover:hover {
    transform: scale(1.17);
  }
  .storiesWrapper .storiesContainer .storiesItem a .tag {
    top: 67px;
  }
  .storiesWrapper .storiesContainer .storiesItem a:before {
    width: 94px;
    height: 94px;
  }
  .storiesWrapper .storiesContainer .storiesItem img {
    width: 84px;
    height: 84px;
  }
  .storiesWrapper .icon-prev,
  .storiesWrapper .icon-next {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 79px;
    transform: translateY(-50%);
    position: absolute;
    margin: 0 2px;
  }
  .storiesWrapper .icon-prev {
    left: 0;
  }
  .storiesWrapper .icon-prev:before {
    content: '';
  }
  .storiesWrapper .icon-next {
    right: 0;
  }
  .storiesWrapper .icon-next:before {
    content: '';
  }
}

/*# sourceMappingURL=style.css.map */
